
* {
  text-align: center;
}

body {
  margin: 35px;
  width: auto;
  height: auto;
}

h1 {
  display: inline-block;
  font-size: 4em;
  padding: 5px 10px;
  color: #eccb83;
  background-color: #749ffc;
  max-width: 0 400px 0 400px;
  border-radius: 25px;
}

.calculator {
  background-color: rgb(229, 248, 216);
  width: fit-content;
  margin: auto;
  border-radius: 28px;
  padding: 10px 0px 0px 0px;
}

.math {
  display: flex;
  justify-content: center;
  gap: 26px;
  font-size: 3em;
  width:fit-content;
  min-height: 155px;
  min-width: 150px;
  margin: auto;
  background-color: rgb(192, 231, 225);
  padding: 0 50px 0 50px;
  border-radius: 25px;
}

#op1,
#op2,
#result {
  color: #eccb83;
}

#operator,
#even {
  color: #749ffc;
}

.operators {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  margin: 10px 10px 10px 30px;
  padding: 5px;
  gap: 25px;
  background-color: rgb(229, 248, 216);
}

.numbers {
  padding: 25px;
  font-size: 2em;
  display: inline-block;
  background-color: rgb(192, 231, 225);
  margin: 0px 0px 10px 0px;
  border-radius: 25px;
  

}

#opPlus,
#opEven {
  font-size: 2em;
  padding: 3px;
  background-color: #749ffc;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color:#eccb83
}

#opMinus,
#opMult,
#opDiv {
  font-size: 2em;
  padding: 6px;
  background-color: #749ffc;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color:#eccb83
}

#opClear {
  font-size: 15px;
  background-color: hsl(221, 96%, 72%);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  color:#eccb83
}

#opClear:hover,
#opPlus:hover,
#opMinus:hover,
#opMult:hover,
#opDiv:hover,
#opEven:hover {
  background-color: hsl(221, 96%, 52%);
}

#opClear:active,
#opPlus:active,
#opMinus:active,
#opMult:active,
#opDiv:active,
#opEven:active {
  background-color: hsl(221, 96%, 32%);
}

#num1,
#num2,
#num3,
#num4,
#num5,
#num6,
#num7,
#num8,
#num9 {
  padding: 10px;
  margin: 5px;
  background-color: #eccb83;
  border: none;
  border-radius: 10px;
  font-size: 1em;
  cursor: pointer;
  color:#749ffc
}

#num0 {
  padding: 10px;
  margin: 5px 5px 5px 26px;
  background-color: hsl(41, 73%, 72%);
  border: none;
  border-radius: 10px;
  font-size: 1em;
  cursor: pointer;
  color:#749ffc
}

#numP {
  padding: 10px 14px 10px 14px;
  margin: 5px 2px 5px 7px;
  background-color: #eccb83;
  border: none;
  border-radius: 10px;
  font-size: 1em;
  cursor: pointer;
  color:#749ffc
}

#numBack {
  padding: 10px;
  margin: 5px 15px 5px 6px;
  background-color: #eccb83;
  border: none;
  border-radius: 10px;
  font-size: 1em;
  cursor: pointer;
  color:#749ffc
}

.bottom {
  margin: 0px 0px 0px 38px;
}

#num1:hover,
#num2:hover,
#num3:hover,
#num4:hover,
#num5:hover,
#num6:hover,
#num7:hover,
#num8:hover,
#num9:hover,
#numBack:hover,
#numP:hover,
#num0:hover {
  background-color: hsl(41, 73%, 52%);
}

#num1:active,
#num2:active,
#num3:active,
#num4:active,
#num5:active,
#num6:active,
#num7:active,
#num8:active,
#num9:active,
#numBack:active,
#numP:active,
#num0:active {
  background-color: hsl(41, 73%, 32%);
}
